.flex.flex-align-center.flex-justify-left.full-width
    h2.subtitle.text-right.color-primary Hi!
    h1.title.full-width.text-right My name is 
        span.color-primary Jaroslav
    h2.subtitle.text-right.flex-inline.flex-align-center.flex-justify-end And my job is 
        span.color-primary.ml-25.text-bracket(data-keywords="frontend, backend , design")
    span.devicons.devicons-github_alt
        







