.examples.flex.flex-align-start.flex-justify-center.hide.animated(data-animate="slideInDown", data-start="scroll")
    //- nav.mb-30
    //-     ul.flex.flex-align-center.flex-justify-sa
    //-         li
    //-             button.btn.btn-primary.text-uppercase(data-sort="") all
    //-         li
    //-             button.btn(data-sort="extension") extension
    //-         li
    //-             button.btn(data-sort="mobile") mobile
    //-         li
    //-             button.btn(data-sort="desktop") desktop
    //-         li
    //-             button.btn(data-sort="web") web
    //- ul.examples-content.flex.flex-align-start.flex-justify-left
    //-     li.card
    //-         .card-media
    //-             img(src="/img/normalgame.png", alt="NormalGame")
    //-         .card-content
    //-             strong
    //-                 a.snake.card-label(href="https://normalgame.net") NormalGame
    //-             p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores suscipit omnis asperiores assumenda. Facere et iusto odit error qui, deleniti in animi cum sint quam omnis sequi aspernatur accusamus!
    //-     li.card
    //-         .card-media
    //-             img(src="/img/justlabelme.png", alt="JustLabelMe")
    //-         .card-content
    //-             strong
    //-                 a.snake.card-label(href="https://just-label.me/") JustLabelMe
    //-             p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores suscipit omnis asperiores assumenda. Facere et iusto odit error qui, deleniti in animi cum sint quam omnis sequi aspernatur accusamus!
    //-     li.card
    //-         .card-media
    //-             img(src="/img/justlabelme.png", alt="JustLabelMe")
    //-         .card-content
    //-             strong
    //-                 a.snake.card-label(href="https://just-label.me/") JustLabelMe
    //-             p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores suscipit omnis asperiores assumenda. Facere et iusto odit error qui, deleniti in animi cum sint quam omnis sequi aspernatur accusamus!
    //-     li.card
    //-         .card-media
    //-             img(src="/img/justlabelme.png", alt="JustLabelMe")
    //-         .card-content
    //-             strong
    //-                 a.snake.card-label(href="https://just-label.me/") JustLabelMe
    //-             p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores suscipit omnis asperiores assumenda. Facere et iusto odit error qui, deleniti in animi cum sint quam omnis sequi aspernatur accusamus!
    //-     li.card
    //-         .card-media
    //-             img(src="/img/normalgame.png", alt="NormalGame")
    //-         .card-content
    //-             strong
    //-                 a.snake.card-label(href="https://normalgame.net") NormalGame
    //-             p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores suscipit omnis asperiores assumenda. Facere et iusto odit error qui, deleniti in animi cum sint quam omnis sequi aspernatur accusamus!