nav#nav.nav
    div.flex.flex-align-center.flex-column.flex-justify-column.nav-mobile
        img.logo.mb-25(src="./img/avatar.png")
        ul.list
            li.list-item.flex.flex-justify-center
                a.link.link-local.text-uppercase(href="#about").btn.btn-primary About
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#skills").btn Skills
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#examples").btn Examples
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#services").btn Services
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#contacts").btn Contacts
    .nav-links
        ul.flex.flex-align-center.flex-justify-sb
            li.transition.hover-animate-scale
                a(href="https://github.com/Jaroslav-Lesiv", target="_blank")
                    span.icon.devicons.devicons-github_badge
            li.transition.hover-animate-scale
                a(href="https://github.com/Jaroslav-Lesiv", target="_blank")
                    span.icon.devicons.devicons-codepen
            li.transition.hover-animate-scale
                a(href="https://bitbucket.org/jaroslav_lesiv/", target="_blank")
                    span.icon.devicons.devicons-bitbucket