.service.flex.flex-justify-sa.flex-align-center
    ul.plank.flex.flex-column.flex-justify-center.flex-align-center.animated(data-animate="slideInLeft", data-start="scroll")
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img(src="./img/icon/secure.svg" , alt="Performance")
            h4.subtitle.mb-10.color-primary.text-center
                strong Web Security
            p.description.color-light.mb-15.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit.
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img(src="./img/icon/ui.svg" realsrc="", alt="" )
            h4.subtitle.mb-10.color-primary.text-center
                strong Perfect UI/UX
            p.description.color-white.mb-15.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam nisi, magnam adipisci eos id!
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img(src="./img/icon/feature.svg", alt="" )
            h4.subtitle.mb-10.color-primary.text-center
                strong Unique Features
            p.description.color-white.mb-15.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam nisi, magnam adipisci eos id!
    .plank
        img(src="./img/services.jpg", alt="")
    ul.plank.flex.flex-column.flex-justify-center.flex-align-center.animated(data-animate="slideInLeft", data-start="scroll")
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img(src="./img/icon/brain.svg", alt="" )
            h4.subtitle.mb-10.color-primary.text-center
                strong label1
            p.description.color-white.mb-10.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam nisi, magnam adipisci eos id!
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img(src="./img/icon/speed.svg", alt="" )
            h4.subtitle.mb-10.color-primary.text-center
                strong High performance
            p.description.color-white.mb-15.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam nisi, magnam adipisci eos id!
        li.flex.flex-justify-center.flex-align-center
            span.image-medium.mb-10
                img(src="./img/icon/api.svg", alt="" )
            h4.subtitle.mb-10.color-primary.text-center
                strong label3
            p.description.color-white.mb-15.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam nisi, magnam adipisci eos id!