.skills.flex.flex-justify-sa.flex-align-center
   ul.skills
        li.skill.skill-1.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-github_alt
            .skill-content
                strong.skill-label GitHub
                p.skill-description Software development platform
        li.skill.skill-10.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-javascript
            .skill-content
                strong.skill-label JavaScript
                p.skill-description some-description10
        li.skill.skill-11.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-nodejs
            .skill-content
                strong.skill-label NodeJS
                p.skill-description Server environment
        li.skill.skill-12.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-react
            .skill-content
                strong.skill-label ReactJS
                p.skill-description JavaScript library
        
        li.skill.skill-12.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo
                img(src="./img/icon/webpack.svg")
            .skill-content
                strong.skill-label Webpack
                p.skill-description Code Bundler
        li.skill.skill-26.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-react
            .skill-content
                strong.skill-label ReactNative
                p.skill-description Build native mobile apps
        li.skill.skill-26.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo
                img(src="./img/icon/electron.svg")
            .skill-content
                strong.skill-label Electron
                p.skill-description Build cross platform desktop apps 
        li.skill.skill-26.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo
                img(src="./img/icon/babel.svg")
            .skill-content
                strong.skill-label  Babel
                p.skill-description JavaScript compiler
        li.skill.skill-2.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-jira
            .skill-content
                strong.skill-label Jira
                p.skill-description System control project
        li.skill.skill-3.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-bitbucket
            .skill-content
                strong.skill-label Bitbacket
                p.skill-description Software development platform
        li.skill.skill-5.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-w3c
            .skill-content
                strong.skill-label W3C
                p.skill-description World Wide Web Consortium
        li.skill.skill-7.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-visualstudio
            .skill-content
                strong.skill-label VSCode
                p.skill-description IDE || Text editor
        li.skill.skill-9.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-npm
            .skill-content
                strong.skill-label NPM
                p.skill-description Node package manager
        li.skill.skill-14.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-bootstrap
            .skill-content
                strong.skill-label Bootstrat 3, 4
                p.skill-description Front-end framework
        li.skill.skill-15.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-sass
            .skill-content
                strong.skill-label Sass
                p.skill-description css preprocessor
        li.skill.skill-13.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-less
            .skill-content
                strong.skill-label Less
                p.skill-description css preprocessor
        li.skill.skill-17.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-stylus
            .skill-content
                strong.skill-label Stylus
                p.skill-description css preprocessor
        li.skill.skill-18.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-gulp
            .skill-content
                strong.skill-label Gulp
                p.skill-description Automating time-consuming tasks
        li.skill.skill-21.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-mongodb
            .skill-content
                strong.skill-label MongoDB
                p.skill-description DataBase
        li.skill.skill-22.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-html5
            .skill-content
                strong.skill-label Html
                p.skill-description Hyper Text Markup Language
        li.skill.skill-23.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-css3
            .skill-content
                strong.skill-label Css
                p.skill-description  Cascading Style Sheets 
        li.skill.skill-24.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-photoshop
            .skill-content
                strong.skill-label AdobePhotoshop
                p.skill-description Graphic editor
        li.skill.skill-25.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-illustrator
            .skill-content
                strong.skill-label AdobeIllustrator
                p.skill-description Graphic editor
        li.skill.skill-26.hide.animated(data-animate="slideInLeft", data-start="scroll")
            span.skill-logo.devicons.devicons-jquery
            .skill-content
                strong.skill-label JavaScript framework
                p.skill-description  JavaScript framework